.fa,
.fa::before {
    font-family: FontAwesome;
}

body {
    font-family: var(--font-main);

    min-height: 100vh;
    min-height: 100dvh;
}

/* Users Cards */
.cards-section {
    border: 2px solid white;
    border-radius: 20px;
    padding: 1rem;
}

.cards-section>p {
    margin-bottom: var(--space-md);
}

#side-heading {
    margin-top: 0px;
}

.user-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.user-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(65, 174, 232, 0.669);

    max-height: 250px;
    max-width: 350px;
    /* padding: 0.5rem; */

    border: 1px solid rgb(65, 174, 232);
    border-radius: 30px;
    box-shadow: 3px 4px rgba(154, 155, 155, 0.669);
}

.user-data {
    display: flex;
    border-bottom: 2px solid black;
    padding: 0.5rem;
}

.user-img {
    height: 50px;
    width: 70px;

    flex: 0 0 3.5rem;
    aspect-ratio: 1;
    flex-shrink: 0;

    margin-right: 0.5rem;
    overflow: hidden;
    border-radius: 50%;
}

.user-img>img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.user-work-details {
    flex: 1;
    min-width: 0;
}

.user-name-status {
    display: flex;
    justify-content: space-between;
}


.user-status {
    /* background-color: green; */
    display: flex;
    /* gap: 0.5rem; */

    height: fit-content;
    padding: 0.2rem 0.5rem;

    border: 1px solid rgba(15, 15, 15, 0.811);
    box-shadow: 0.5px 0.5px black;
    border-radius: 10px;
    text-align: center;
}

.user-status>p {
    font-size: smaller;
}

.user-status>i {
    margin-top: 0.2rem;
    margin-left: 4px;

    color: white;
}

.active-badge {
    background-color: rgb(44, 171, 44);
}

.invited-badge {
    background-color: rgb(79, 97, 185);
}

.suspended-badge {
    background-color: rgba(62, 62, 62, 0.744);
}

.suspended-badge>i {
    color: rgb(76, 33, 33);
}

.user-metadata {
    margin: var(--space-sm) var(--space-md);
}

/* Settings */
.user-settings-details {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */

    /* background-color: rgba(49, 201, 176, 0.249); */
    border: 2px solid azure;
    border-radius: 10px;
}

.user-settings-details>h1 {
    border-bottom: 2px solid azure;
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
}

.user-profile,
.notifications,
.queues {
    border: 2px solid white;
    margin-top: var(--space-sm);
    border-radius: 10px;

    /* max-width: 50%; */
    background-color: rgba(249, 238, 238, 0.128);
    box-shadow: 2px 2px azure;
}

.settings-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--space-sm);
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
}

.content-heading {
    margin: var(--space-sm);
}

.settings {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    margin: var(--space-md);
}

.user-profile-details {
    flex-direction: row;
}

.user-profile-img {
    height: 100px;
    width: 100px;
    border: 2px solid azure;
    border-radius: 50%;

    cursor: pointer;
}

.user-personal-details {
    margin-top: -5px;
    margin-left: var(--space-sm);
}

.user-input {
    margin-top: var(--space-sm);
    display: flex;
    flex-direction: column;
}

.user-profile-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.queue-level {
    display: flex;
    flex-direction: column;
}

.queue-level>input {
    margin-top: var(--space-sm);
    width: 40%;
}

.extra-info {
    font-size: smaller;
    color: brown;
}

.submit-config-btn {
    width: 100%;
    height: 4rem;

    text-align: right;
}

.submit-config-btn>button {
    padding: var(--space-sm);
    font-size: small;

    border: 2px solid rgba(0, 0, 0, 0.495);
    border-radius: 10px;
    margin-top: var(--space-md);
    margin-right: 10%;
}