*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: var(--space-md);
}

/* Heading */
h1 {
    border-bottom: 2px solid black;
    margin: var(--space-sm);
}

/* Hero Images */
.hero-images {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-sm);

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.img-container {
    min-height: 280px;
    height: auto;
    max-width: 700px;
    margin-bottom: 10px;
}

.img-container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border: 3px solid black;
    /* border-radius: 10px; */
    /* box-shadow: 3px 4px #4c4b4b; */

    cursor: pointer;
}

/* Main Content */
.main-content {
    display: grid;
    grid-auto-flow: column;
    gap: var(--space-sm);
    /* grid-template-columns: 1fr 400px; */
    grid-template-columns: 1fr minmax(280px, 400px);
}

/* Left Content */
.left-content {
    overflow: hidden;
    border: 2px solid black;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 97%;

    min-height: 450px;
    height: auto;
    margin-bottom: 10px;
    max-width: 97%;
    margin-left: var(--space-sm);
    position: relative;
}

.left-content>img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

/* .hero-description {
    position: absolute;
    bottom: 0;
    padding: var(--space-sm);

    background-color: rgba(61, 62, 63, 0.829);
    color: aliceblue;
} */

.hero-description,
.drop-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow-y: auto;
    padding: var(--space-sm);
    background-color: rgba(61, 62, 63, 0.829);
    color: aliceblue;
}

/* Right Content */
.right-content {
    background-color: #4f4f4fd3;
    padding: var(--space-md);
    margin-right: var(--space-sm);
    border: 2px solid black;
    height: fit-content;
    color: aliceblue;
}

.right-content>p {
    margin-left: var(--space-lg);
}

.anime-list {}

a {
    color: rgb(14, 36, 135);
    font-size: small;
}

li {
    margin-left: var(--space-lg);
}

/* Drop Cards */
summary {
    font-size: x-large;
}

.drop-card {
    margin-left: var(--space-sm);
    margin: var(--space-sm);

    border: 2px solid black;
    padding: var(--space-sm);
    width: 70%;
    background-color: bisque;
}

.drop-content {
    margin-top: var(--space-sm);
    margin-left: var(--space-md);
    min-height: 400px;
    height: auto;
    margin-bottom: 10px;
    max-width: 650px;
    position: relative;

    border: 2px solid black;
}

.drop-content>img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.drop-description {
    position: absolute;
    bottom: 0;
    background-color: #4f4f4fd3;
    color: aliceblue;
}

/* Cards */
.cards-section>h2 {
    margin-left: var(--space-sm);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-sm);

    border: 2px solid black;
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
    margin-top: var(--space-sm);
    padding: var(--space-sm);
}

.card {
    border: 2px solid black;
    padding: var(--space-sm);
    background-color: aliceblue;
    box-shadow: 2px 2px black;

    text-align: left;
}

.para {}