/* Default Styling */
*,
*::after,
*::before {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

:root {
    --background-color: rgba(110, 106, 106, 0.774);
    --text-color: azure;
    --common-padding: 1%;
    --font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
}

body {
    background: var(--background-color);
    color: var(--text-color);

    width: 100%;
    height: 100dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Actual Styling */
.card {
    height: auto;
    width: 450px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1rem 1rem 1rem black;

    overflow: hidden;
}

.card__image {
    height: auto;
    width: 100%;

    object-fit: fill;
}

.card__body {
    padding: 1rem;
}


.extra__text {
    display: none;
}

.extra__skills {
    display: none;
}

p {
    display: inline;
}


label {
    color: rgba(4, 16, 244, 0.918);
    opacity: 50%;
}

label:hover {
    opacity: 100%;
    cursor: pointer;
}

label::before {
    content: "ReadMore";
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"]:checked~label::before {
    content: "ReadLess";
}

.card__description:has(input[type="checkbox"]:checked) .dots {
    display: none;
}

.card__description:has(input[type="checkbox"]:checked) .extra__text {
    display: inline;
}

.card__skills:has(input[type="checkbox"]:checked) .extra__skills {
    display: list-item;
}

.readmore_skills {
    margin-left: 1rem;
}

.contact_user {
    text-align: center;
}